{:paths   ["src/main"]

 :deps    {com.github.javaparser/javaparser-core {:mvn/version "3.26.1"}
           org.jsoup/jsoup                       {:mvn/version "1.16.2"}
           io.github.classgraph/classgraph       {:mvn/version "4.8.177"}
           org.clojure/tools.deps.alpha          {:mvn/version "0.15.1254"}}

 :aliases {:dev {:extra-deps {org.clojure/clojure {:mvn/version "1.11.4"}}}}}
